.Explore{
    background-size: cover;
    opacity: 0.8;
    padding: 40px 20px;
    margin-top: 16px;
  }
  
  .Explore-image {
    height: 100%;
  }
  
  .Explore-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }